@import "src/styles/vars";

.Why3 {
  background: #AF144B;

  &-brainFill {
    position: absolute;
    top: 60px;
    left: 50px;
    // transform: translate(-50%, -50%) translate(0, - 40px);
  }
  &-brainOutline {
    position: relative;
  }
}
