@import "src/styles/vars";

.Button {
  $tween: .2s ease-out;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  & svg > g {
    fill: $color-cta;
  }
  &--transparent {
    background: transparent;
    color: $color-cta;
    & svg {
      fill: $color-cta;
    }
  }
  font-weight: 400;
  color: $color-cta;
  border-color: transparent;
  transition: background $tween, border-color $tween;
  border: 1px solid transparent;
  &:focus, &:hover {
    background: $color-cta;
    color: #fff;
    & svg > g {
      fill: #fff;
    }
  }
  &--transparent:focus, &--transparent:hover {
    background: transparent;
    border-color: #fff;
  }
  border: 1px solid transparent;
  height: 48px;
  padding: 0 20px;
  border-radius: 5px;
  cursor: pointer;

  &-label {
    display: inline-block;
    margin-left: 15px;
    transition: transform $tween;
  }
  &-icon {
    transition: transform $tween;
  }
  &:focus &-label, &:hover &-label {
    transform: scale(1.1);
  }
  &:focus &-icon, &:hover &-icon {
    transform: translate(-5px, 0);
  }
}
