@import 'src/styles/fonts';
@import 'src/styles/vars';

.Scope {
  background-color: #490924;
  padding: 10px;

  &-content {
    z-index: 1;
  }
  &-gyro {
    position: absolute;
    left: 0;
    top: 0;
  }
}
