$font-family: 'Source Sans Pro', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;

$color-primary: #F05A7D;
$color-cta: #FA551E;
$color-cta-focus: #FF6937;
$color-text: #2E3135;

$color-background-dark: #2D2323;
$color-background-medium: #342A2A;
