.HowSteps {
  margin-bottom: 100px;

  &-number {
    font-size: 16px;
    text-transform: uppercase;
  }

  &-title {
    font-size: 20px;
  }

  &-image {
    position: relative;
  }

  &-blob {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
