.Page {
  display: flex;
  position: relative;
  flex-direction: column;
  // background: #000;

  &-slide {
    display: flex;
    position: relative;
    margin: 150px 100px;
    align-items: center;
    justify-content: center;
  }

  &-image {
    position: relative;
  }
  &-content {
    color: #fff;
    font-size: 20px;
    line-height: 1.4;
  }

  p {
    margin-top: 0;
  }
  &-columns {
    column-count: 2;
  }
  &-wobbly {
    bottom: 0;
    height: 140px;
    position: absolute;
    width: 100%;
    z-index: 10000;
  }
}

.Page-wobbles {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
