.Page {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #000;

  &-header {
    color: #fff;
    margin: 120px auto;
    font-size: 120px;
    font-weight: 600;
    &Lead {
      font-weight: 400;
      font-size: 40px;
      margin-bottom: 10px;
    }
  }


  &-slide {
    display: flex;
    position: relative;
    margin: 150px 100px;
    align-items: center;
    justify-content: center;
  }

  &-image {
    position: relative;
  }
  &-content {
    color: #fff;
    font-size: 20px;
    line-height: 1.4;
  }

  p {
    margin-top: 0;
  }
  &-columns {
    column-count: 2;
  }
  &-wobbly {
    bottom: 0;
    height: 140px;
    position: absolute;
    width: 100%;
    z-index: 10000;
  }
  &-navigation {
    position: relative;
    z-index: 1;
    &--top {
      top: 150px;
    }
    &--bottom {
      // top: 150px;
    }
  }
}
