@import "src/styles/vars";

.Resources {
  background: #2D2323;
  &-title {
    font-size: 32px;
    margin-top: 0;
    font-weight: normal;
    margin-bottom: 100px;
  }
  &-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 50px;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
  }

  &-cards {
    display: flex;
  }
}
