.PageFooter {
  position: relative;
  // background: $color-background-dark;
  color: #fff;
  padding: 20px;
  // border-top: 3px solid #fff;
  a {
    color: #fff;
    margin-right: 30px;
    font-weight: 400;
  }

}
