@import "src/styles/vars";

.App {
  background: #000;
  // display: flex;
  // flex-direction: column;
  min-height: 100vh;
  &-menu {
    height: 90px;
    background: #2D2323;
    color: #fff;
    padding: 20px;
  }
  &-footer {
    position: relative;
    background: $color-background-dark;
    color: #fff;
    padding: 20px;
    border-top: 3px solid #fff;
    a {
      color: #fff;
      margin-right: 30px;
      font-weight: 400;
    }
  }
  &-content {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }
}
