@import "src/styles/vars";

.Why2 {
  background: #F0325A;
  &-brainFill {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(0, - 40px);
  }
  &-brainOutline {
    position: relative;
  }
}
