@import "src/styles/vars";

.Why2 {
  background: #F0325A;
  &-circleFill {
    position: absolute;
    top: 50%;
    left: calc(50% - 200px);
    // transform: translate(-50%, -50%) translate(0, - 40px);
  }
  &-brainFill {
    position: absolute;
    top: 50%;
    left: calc(50% + 0px);
    // transform: translate(-50%, -50%) translate(0, - 40px);
  }
  &-brainOutline {
    position: relative;
  }
}
