// w=297, h=297
.Gyro {
  position: relative;
  // width: 297px;
  // height: 297px;

  transform-style: preserve-3d;
  transform-origin: center;
  perspective-origin: center center;
  animation: gyro-container 3s ease-in-out alternate infinite;
  &--intro {
    animation: none;
  }

  &-x, &-y {
    transform-style: preserve-3d;
    transform-origin: center;
    // perspective: 1000px;
    perspective-origin: center center;
    transition: transform .3s ease-out;
    width: 297px;
    height: 297px;
  }
  &-x {
    transform: rotate3d(0, 1, 0, 0);
  }
  &-y {
    transform: rotate3d(1, 0, 0, 0);
    .Gyro--intro & {
      // transform: rotate3d(1, 0, 0, 50deg);
      animation: gyro-intro-container 3s ease-in-out forwards 1;
      animation-delay: 1s;
    }
  }
  &-body {
    position: absolute;
    left: 77px;
    top: 77px;
    transform: translate3d(0, 0, 50px);
    .Gyro--intro & {
      transform: translate3d(0,0,0);
      animation: gyro-intro-body 1s ease-out forwards;
      animation-delay: 2s;
    }
  }
  &-prop-connectors {
    position: absolute;
    left: 51px;
    top: 51px;
    transform: translate3d(0, 0, 25px);
    .Gyro--intro & {
      transform: translate3d(0,0,0);
      animation: gyro-intro-prop-connectors 1s ease-out forwards;
      animation-delay: 2s;
    }
  }
  &-prop-covers {
    position: absolute;
    transform: translate3d(0, 0, 10px);
    .Gyro--intro & {
      transform: translate3d(0,0,0);
      animation: gyro-intro-prop-covers 1s ease-out forwards;
      animation-delay: 2s;
    }
  }

  &-fill-body {
    position: absolute;
    left: 52px;
    top: 48px;
    transform: translate3d(0, 0, 15px);
    .Gyro--intro & {
      transform: translate3d(0,0,0);
      animation: gyro-intro-fill-body 1s ease-out forwards;
      animation-delay: 2s;
    }
  }

  &-fill-prop {
    position: absolute;
    transform: translate3d(0, 0, 0);
    animation: gyro-prop-spin 1s linear forwards infinite;
    .Gyro--intro & {
      animation: none;
      animation: gyro-prop-spin 1s ease-in forwards 1;
      animation-delay: 3s;
    }

  }

  &-fill-prop--top-left {
    left: 3px;
    top: 3px;
  }
  &-fill-prop--top-right {
    left: 195px;
    top: 3px;
  }
  &-fill-prop--bottom-left {
    left: 3px;
    top: 195px;
  }
  &-fill-prop--bottom-right {
    left: 195px;
    top: 195px;
  }
  @keyframes gyro-prop-spin {
    0% {
      transform: rotate(0) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(360deg) translate3d(0, 0, 0);
    }
  }

  @keyframes gyro-intro-body {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 50px);
    }
  }
  @keyframes gyro-intro-prop-connectors {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 25px);
    }
  }
  @keyframes gyro-intro-prop-covers {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 10px);
    }
  }
  @keyframes gyro-intro-fill-body {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 15px);
    }
  }
  @keyframes gyro-intro-container {
    0% {
      transform: rotate3d(1, 0, 0, 0);
    }
    30% {
      transform: rotate3d(1, 0, 0, 50deg);
    }
    80% {
      transform: rotate3d(1, 0, 0, 50deg);
    }
    100% {
      transform: rotate3d(1, 0, 0, 0);
    }
  }
  @keyframes gyro-container {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 300px);
    }
  }

}
